body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 25px;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 1px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4d90fe;
    outline: none;
}

button {
    width: 102%;
    padding: 10px;
    background-color: #4d90fe;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.notification {
    position: fixed;
    top: 7%;
    left: 89.1%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 90vw;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards, fadeOut 0.3s ease-in 2.7s forwards;
    z-index: 1000;
    display: none;
}

.notification-wrong {
    position: fixed;
    top: 7%;
    left: 90.3%;
    transform: translate(-50%, -50%);
    max-width: 305px;
    width: 90vw;
    padding: 15px;
    background-color: #c50e0e;
    color: white;
    border-radius: 4px;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards,
    fadeOut 0.3s ease-in 2.7s forwards;
    z-index: 1000;
    display: none;
}

.notification-taken-name{
    position: fixed;
    top: 7%;
    left: 93.5%;
    transform: translate(-50%, -50%);
    max-width: 177px;
    width: 90vw;
    padding: 15px;
    background-color: #c50e0e;
    color: white;
    border-radius: 4px;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards,
    fadeOut 0.3s ease-in 2.7s forwards;
    z-index: 1000;
    display: none;
}

.notification.show {
    opacity: 1;
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

button:hover {
    background-color: #357ae8;
}

.form-group {
    margin-bottom: 15px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.registration {
    background-color: #e0f7fa;
}

.authorization {
    background-color: #fff9c4;
}

.auth-link .auth-link-style {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #eaefec;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-block;
    position: fixed;
    margin-top: 190px;
    margin-left: -153px;
}

.auth-link .auth-link-style:hover {
    background-color: #f1f8f4;
    color: #444ec1;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.auth-link-reg .auth-link-style-reg {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #eaefec;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-block;
    position: fixed;
    margin-top: 190px;
    margin-left: -150px;
}

.auth-link-reg .auth-link-style-reg:hover {
    background-color: #f1f8f4;
    color: #444ec1;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.greetings:hover {
    background-color: #57c839;
    color: #eaefe8;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    transform: translateY(-1.5px);
    cursor: pointer;
}
