body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

h1 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
}

#username {
    font-weight: bold;
    color: #2980b9;
}

p {
    font-size: 1.6em;
    color: #34495e;
    margin-top: 18px;
    margin-bottom: -30px;
    margin-left: 37px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(108, 198, 192, 0.3);
    font-weight: 600;
}

span {
    font-size: 2em;
    color: #34495e;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 40px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(108, 198, 192, 0.3);
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

li {
    margin: 10px 0;
}

li strong {
    font-weight: bold;
    color: #34495e;
}

.exitButton {
    background-color: #e74c3c;
    color: white;
    font-size: 1.1em;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-left: 15px;
}

.exitButton:hover {
    background-color: #c0392b;
}

.previous-page,
.next-page {
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    background-color: #ffffff;
    color: #454242;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 45px;
    display: inline-block;
}

.previous-page:hover,
.next-page:hover {
    transform: scale(1.05);
    background-color: #caefea;
    transition: 0.3s;
}

button {
    padding: 0.5px 3px;
    border-width: 1px;
    border-color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
    background-color: #dfe4e4;
    transition: 0.5s;
}

table {
    width: 500px;
    margin-bottom: 100px;
    position: static;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 6px;
}

table th, table td {
    padding: 14px 20px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}

table th {
    background-color: #34495e;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

table td {
    color: #2c3e50;
    border-bottom: 1px solid #ecf0f1;
}

table tr:hover {
    background-color: #f4f6f7;
}

table td, table th {
    border-left: 1px solid #ecf0f1;
}

table td:last-child, table th:last-child {
    border-right: 1px solid #ecf0f1;
}

table td:first-child, table th:first-child {
    border-left: 0;
}

table {
    margin-bottom: 30px;
}

.logout .logout-style {
    color: #333;
    text-decoration: none;
    font-weight: normal;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #f0f4f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
    margin-left: -920px;
}

.logout:hover {

    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    transform: translateY(-3.0px);
    transition: all 0.5s ease;
}

.arrows {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.left-arrow {
    width: 35px;
    margin-left: -5px;
    margin-top: -9px;
    height: 35px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.right-arrow {
    width: 35px;
    margin-left: -2px;
    margin-top: -8px;
    height: 35px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 70px;
    margin-left: 170px;
    margin-top: -15px;
    gap: 15px;

}

.disabled-first-page,
.disabled-last-page {
    background-color: #a1a1a1;
    transform: none;
    cursor: default;
    pointer-events: none;
}

.eye {
    margin-left: 1px;
    margin-bottom: -5px;
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease, filter 0.3s ease;
    object-fit: contain;
}

.logout-icon {
    width: 38px;
    height: 38px;
    transition: transform 0.3s ease, filter 0.3s ease;

}

a {
    padding: 16px 24px;
    border-width: 1px;
    border-color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    background-color: #ffffff;
    outline: none;
}

.userList {
    margin-left: -1610px;
    margin-top: 880px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    background-color: #d2e3d4;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 45px;
    position: fixed;
}

.userList:hover {
    background-color: #7ad87d;
    transition: 0.5s;
}
